<footer class="pt-8 print:hidden" id="footer-navigation">
{{ if or .NextInSection .PrevInSection }}
    {{ $next := .NextInSection }}
    {{ $prev := .PrevInSection }}
    <div class="pt-8">
    <hr class="border-dotted border-neutral-300 dark:border-neutral-600">
    <div class="flex justify-between pt-3">
        <span class="flex flex-col">
        {{ if $prev }}
            <a
            class="flex text-neutral-700 hover:text-primary-600 dark:text-neutral dark:hover:text-primary-400"
            href="{{ $prev.RelPermalink }}">
            <span class="leading-6">
                <span class="inline-block">&larr;</span>&ensp;{{ $prev.Title | emojify }}
            </span>
            </a>
            <span class="ms-6 mt-1 text-xs text-neutral-500 dark:text-neutral-400">
            {{- partial "time.html" $prev.Date -}}
            </span>
        {{ end }}
        </span>
        <span class="flex flex-col items-end">
        {{ if $next }}
            <a
            class="flex text-right text-neutral-700 hover:text-primary-600 dark:text-neutral dark:hover:text-primary-400"
            href="{{ $next.RelPermalink }}">
            <span class="leading-6">
                {{ $next.Title | emojify }}&ensp;<span class="inline-block">&rarr;</span>
            </span>
            </a>
            <span class="me-6 mt-1 text-xs text-neutral-500 dark:text-neutral-400">
            {{- partial "time.html" $next.Date -}}
            </span>
        {{ end }}
        </span>
    </div>
    </div>
{{ end }}
</footer>