{{- $image := "" -}}
{{- $backgroundHeight := .Site.Params.style.backgroundHeight | default 800 -}}
{{- range .ImageList -}}
    {{- if not $image -}}
        {{- with resources.Get . -}}
            {{- $image = . -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
{{- with .Page }}
    {{- if $image -}}
        <div class="fixed inset-x-0 top-0 -z-10">
        <div 
            class="absolute inset-0 chromatic-abberation min-h-[{{ $backgroundHeight }}px]"
            style="background-image:url('{{ $image.RelPermalink }}');"
            id="fixed-background-image"></div>
        <div
            class="absolute inset-0 min-h-[{{ $backgroundHeight }}px] 
            bg-gradient-to-t 
            from-(--background-light) 
            to-(--background-glass) mix-blend-normal 
            dark:from-(--background-dark)
            dark:to-(--background-dark-glass)">
        </div>
        </div>
        <div id="background-blur" class="fixed -z-10 opacity-0 inset-x-0 top-0 h-full backdrop-blur-2xl"></div>
        {{- .Store.Set "hasBackground" true -}}
        {{- .Store.Set "backgroundHeight" (printf "%dpx" $backgroundHeight) }}
        {{- .Store.Add "jsList" (slice "js/background_blur.js") }}
    {{- else -}}
        {{- .Store.Set "hasBackground" false -}}
    {{- end -}}
{{ end }}