<div id="top-scroller" class="pointer-events-none absolute top-[110vh] bottom-0 w-12 right-0 z-20 hidden">
    <a href="#top" class="pointer-events-auto sticky top-[calc(100vh-5.5rem)] flex h-12 w-12 mb-32 items-center justify-center rounded-full bg-neutral-100/50 text-xl text-neutral-700 hover:text-primary-600 dark:bg-neutral-800/50 dark:text-neutral-400 dark:hover:text-primary-400 hover:no-underline transition-colors" aria-label="Scroll to top" title="Scroll to top">&uarr;</a>
</div>

{{- page.Store.Add "jsList" (slice "js/top-scroller.js") }}