{{ $source := .Get "source" -}}
<blockquote class="overflow-visible
  w-screen
  max-w-[calc(var(--full-bleed)-5rem)] 
  ml-20
  text-right 
  italic 
  text-lg 
  my-8 
  py-4 
  border-y 
  border-neutral-400 
  dark:border-neutral-600">
  <p>
    {{- .Inner | .Page.RenderString -}}
  </p>

  {{- if $source }}
    <footer class="
        block 
        text-sm 
        mt-2 
        text-neutral-600 
        dark:text-neutral-200 
        not-italic">
        &mdash; {{ $source }}
      </footer>
  {{ end }}
</blockquote>