{{- page.Store.Set "jsList" (slice "js/header.js") -}}
<!DOCTYPE html> 
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}" class="overflow-y-scroll font-serif scroll-smooth">
<head>
  {{ partial "head.html" . }}
</head>
<body class="flex flex-col h-screen transition-all duration-300 motion-reduce:transition-none!">
  <header class="navmenu print:hidden">
    {{ partial "header.html" . }}
  </header>

  <main class="gap-y-8">
    {{ block "main" . }}{{ end }}
  </main>

  {{- partial "footer.html" . -}}
  {{ range page.Store.Get "jsList" -}}
    {{- partial "js_integrity.html" . }}
  {{- end }}
  {{ if .HasShortcode "sidenote" -}}
    {{- partial "js_integrity.html" "js/sidenotes.js" -}}
  {{- end -}}
</body>
</html>
