<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}" class="overflow-y-scroll font-serif scroll-smooth">
<head>
  {{ partial "head.html" . }}
</head>
<body class="flex flex-col h-screen transition-all duration-300 motion-reduce:!transition-none">
  <header class="navmenu print:hidden">
    {{ partial "header.html" . }}
  </header>

  <main class="gap-y-8">
    {{ block "main" . }}{{ end }}
  </main>

  {{- partial "footer.html" . -}}
</body>
{{ partial "js_integrity.html" "js/header.js" -}}
{{ if .HasShortcode "sidenote" -}}
  {{- partial "js_integrity.html" "js/sidenotes.js" -}}
{{- end -}}
{{ if .Store.Get "hasBackground" -}}
  {{ partial "js_integrity.html" "js/background_blur.js" }}
{{ end }}
</html>
