<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="transition-all duration-300 motion-reduce:!transition-none">
  <header class="navmenu">
    {{ partial "header.html" . }}
  </header>

  <main class="gap-y-8">
    {{ block "main" . }}{{ end }}
  </main>

  {{- partial "footer.html" . -}}

  {{ $headerJS := resources.Get "js/header.js" }}
  <script src="{{ $headerJS.Permalink }}"></script>
  {{ if .HasShortcode "sidenote" -}}
    {{- $sidenotesJS := resources.Get "js/sidenotes.js" -}}
    <script src="{{ $sidenotesJS.Permalink }}"></script>
  {{- end -}}
</body>
</html>
