{{/*  
Main template for generating the homepage
-----------------------------------------
TODO: Update this documentation

Uses the following variables:
params.style.backgroundHeight (default to 800)
  - Defines the minimum height for the background. Will stretch the background to fill the width of the viewport.
    The background can be an asset in assets/ or it can be a URL. I haven't tested URL functionality but I think it should work?
    This style works well with a wide background, not as well with narrow backgrounds.
    - TODO: I could use 'warnf' to warn if the image selected is not ideal
params.homepage.homepageImage: 
  - Defaults to params.defaultBackgroundImage if not defined
*/}}
{{ define "main" }}
  {{- $backgroundHeight := .Site.Params.style.backgroundHeight | default 800 -}}
  <article class="max-w-full">
    <div class="relative">
      {{ $image := "" -}}
      {{- with .Site.Params.homepage.homepageImage -}}
        {{- $image = resources.Get . -}}
        {{- if not $image }}{{ $image = resources.GetRemote . }}{{ end -}}
      {{- end -}}
      {{- if not $image -}}
        {{- with .Site.Params.defaultBackgroundImage -}}
          {{- $image = resources.Get . -}}
          {{- if not $image }}{{ $image = resources.GetRemote . }}{{ end -}}
        {{- end -}}
      {{- end -}}
      {{- if $image -}}
      <div class="fixed inset-x-0 top-0 -z-10">
        <div 
          class="absolute inset-0 chromatic-abberation min-h-[{{ $backgroundHeight }}px]"
          style="background-image:url('{{ $image.RelPermalink }}');"
          id="fixed-background-image"></div>
        <div
          class="absolute inset-0 min-h-[{{ $backgroundHeight }}px] 
          bg-gradient-to-t 
          from-(--background-light) 
          to-(--background-glass) mix-blend-normal 
          dark:from-(--background-dark)
          dark:to-(--background-dark-glass)">
        </div>
      </div>
      {{- end -}}

      <div class="relative flex flex-col items-center justify-center px-4 py-16 text-center sm:px-6 sm:py-24 lg:py-32 lg:px-8 gap-y-8">
        <div class="glass-card flex flex-col items-center">
        {{- $authorImage := "" -}}
        {{ with .Site.Params.author.image }}
          {{ $authorImage = resources.Get . }}
        {{ end }}
        {{- if $authorImage -}}
          <img
            class="mb-2 h-36 w-36 rounded-full"
            width="144"
            height="144"
            alt="{{ .Site.Params.author.name }}"
            src="{{ $authorImage.RelPermalink }}">
        {{- end -}}
        
        <h1 class="mb-2 text-4xl font-extrabold text-neutral-800 dark:text-neutral-200">
          {{ .Site.Params.author.name }}
        </h1>
        
        <h2 class="mt-0 mb-0 text-xl text-neutral-800 dark:text-neutral-300">
          {{ .Site.Params.author.headline }}
        </h2>
        </div>
        
        {{- with .Content -}}
          <section class="glass-card prose dark:prose-invert w-full pt-8">
            {{ . }}
          </section>
        {{- end -}}
      </div>
    </div>
  </article>
  <div id="background-blur" class="fixed -z-10 opacity-0 inset-x-0 top-0 h-full backdrop-blur-md"></div>
  <section class="flex flex-col mx-auto max-w-3xl px-6 lg:px-8 gap-8">
    <h2 class="text-3xl font-bold">Recent Posts</h2>
    {{ range first 5 .Site.RegularPages -}}
      {{ block "article_card.html" . }}{{ end }}
    {{- end }}
  </section>

  {{ $scrollBlurJS := resources.Get "js/background_blur.js" -}}
  {{ with $scrollBlurJS -}}
    <script src="{{ $scrollBlurJS.RelPermalink }}"></script>
  {{ else }}
    {{ warnf "Unable to load the background blur javascript" }}
  {{- end }}
{{ end }}

{{ define "article_card.html" }}
  <article class="
      relative 
      bg-(--background-glass) dark:bg-(--background-dark-glass)
      rounded-md shadow-md 
      overflow-hidden
      ring-2 ring-primary-50
      
      hover:bg-primary-50
      hover:shadow-indigo-500/50

      dark:hover:bg-primary-900
      dark:hover:shadow-indigo-100/50">
    <div class="relative p-8">
      <h3 class="inset-0">
        <a href="{{ .Permalink }}">
          <span class="absolute inset-0"></span>
          {{ .Title }}
        </a>
      </h3>
      <p class="text-sm text-secondary-600 dark:text-secondary-200">
        {{ .Date.Format "January 2, 2006" }}
      </p>
      <p><div class="line-clamp-3">{{ .Summary }}</div></p>
    </div>
  </article>
{{ end }}