{{ define "main" -}}
  {{ $img_list := slice .Site.Params.defaultBackgroundImage }}
  {{ partial "background.html" (dict "Page" . "ImageList" $img_list) }}

  {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" -}}
  {{- $dateHuman := .Date | time.Format ":date_long" -}}
  <div>
    <h1 class="lg:mt-[400px]">{{ .Title }}</h1>
    <div class="flex items-center gap-x-2 mt-1.5">
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      <span class="px-2 text-primary-500">&middot;</span>
      <span>{{ .WordCount }} words</span>
      <span class="px-2 text-primary-500">&middot;</span>
      <span>{{ printf "%d mins" .ReadingTime }}</span>
    </div>
  </div>
  {{ partial "author_blurb.html" . }}
  <article class="my-6 text-xl/loose">
    {{ .Content }}
  </article>
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) -}}
{{- end -}}
